*{
    margin: 0;
    padding: 0;
}

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem 4%;
        background-color: rgb(168, 168, 168);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;
}

.navbar .logo a{
    margin-left: 2rem;
    font-weight: 700;
    color:rgb(41, 40, 40);
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.navbar .navbar-nav a{
    display: inline-block;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 1rem;
    color:rgb(41, 40, 40);
    
}